
.container {
    display: flex;
}

.parent1 {
    background-color: #1F1f3D;
    flex-direction: column;
    align-items: stretch;
    /* flex-wrap: wrap; */
    width: 20%;
    height: 100vh;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
    position: fixed;
    font-size: 30px;
    color: #e9e9f3;
    
}
.border {
    border-bottom: 2px solid #353567;
    padding-bottom: 2px;
}

.border2 {
    border-bottom: 2px solid #353567;
    padding-bottom: 2px;
}

.parent2 {
    background-color: #a9aad2;
    display: inline-flex;
    width: 3000px;
    height: 425px;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-left: 20.15%;
    position: fixed;
}

.parent3 {
    background-color: #eaeaf4;
    width: 1500px;
    height: 535px;
    display: flex;
    /* align-content: flex-end; */
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    top: 425px;
    left: 0px;
    right: 0px;
    margin-left: 20%;
    position: fixed;
}

h1 {
    font-family: 'Open Sans';
    font-style: bold; 
    font-size: 30px;
    margin-left: 20px;
    margin-bottom: 5px
}

h2 {
    font-family: 'Open Sans' #BFBFDD;
    font-style: normal;
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 20px;
}
button {
    background-color: #5356A4;
    color: #E9E9F3;
    padding: 10px;
    font-size: 30px;
    margin-left: 20px;
    top: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.idea-cards {
    border: 2px solid #1F1f3D;
    max-height: 225px;
    width: 175px; 
    /* display:flex; */
    margin-left: 20px;
    margin-top: 20px;
    /* padding-left: 25px;
    padding-right: 25px; */
    align-items: center;
    justify-content: center; 
    background-color: #FFFFFF;
    /* position: absolute; */
    justify-content: space-between;

}



.card-header {
    height: 30px;
    width: 100%;
    background-color: #1F1f3D;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
    display:flex;
    justify-content: space-between;
}

 .card-footer {
    height: 30px;
    width: 100%;
    background-color: #5356A4;
    font-family: 'Open Sans';
    color: #E9E9F3;
    margin-top: 96px;
    left: 0px;
    right: 0px;
    /* margin: 0px; */
    display:flex; 
    /* align-items: flex-end; */
    flex-direction: row;
    justify-content: left;
    
} 

/* .idea-cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
} */


.card-body {
    height: 15px;
    width: 25px;
    /* text-align:center; */
    overflow-wrap: break-word;
    inline-size: 150px;
    padding-left: 8px;
    font-family: 'Open Sans';
}

.card-title {
    height: 15px;
    width: 25px;
    overflow-wrap: break-word;
    inline-size: 150px;
    padding-left: 8px;
    font-family: 'Open Sans';
    /* font-weight: bold; */
    color: #1F1F3D
}

#fbody {
    height: 100px;
    width: 400px;
    border: 2px solid #5356A4;
    color: #1F1F3D;
}

#ftitle {
    width: 400px;
    height: 50px;
    border: 2px solid #5356A4;
    color: #1F1F3D;
}

form {
    display: flex;
    padding-left: 250px;
    padding-top: 10px;
    flex-direction: column;
    font-family: 'Open Sans';
    font-style: bold; 
}
/* .magnifyg{
    height: 50px;
    width: 50px;
    background-color: #1F1F3D;
    align-content: flex-end

} */


#searchbar {
    /* display: flex; */
    width: 400px;
    border: 2px solid #5356A4;
    color: #5356A4;
    height: 50px;
}

::placeholder {
    color: #5356A4;
}

#savebutton {
    width: 400px;
    height: 50px;
    background-color: #1F1F3D;
    color: #e9e9f3;
    border: 2px solid #5356A4
}
